@import 'null';
@import "Hero";
@import "photo";
@import "usp";


.portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &_element {
        border-radius: 20px;
    }

    &_element1 {
        border-radius: 20px;
        height: 271px;
        width: 400px;
    }

    &_element2 {
        border-radius: 20px;
        height: 271px;
        width: 565px;
    }

    &_element3 {
        border-radius: 20px;
        height: 271px;
        width: 565px;
    }

    &_element4 {
        border-radius: 20px;
        height: 271px;
        width: 400px;
    }

    &_element5 {
        border-radius: 20px;
        height: 271px;
        width: 565px;
    }

    &_element6 {
        border-radius: 20px;
        height: 271px;
        width: 400px;
    }

    &_element7 {
        border-radius: 20px;
        height: 271px;
        width: 400px;
    }

    &_element8 {
        border-radius: 20px;
        height: 271px;
        width: 565px;
    }


}