@import 'null';
@import "Hero";
@import "photo";
@import "usp";


.portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 10px;
    display: none;

    &_element {
        width: 100%;
        max-width: fit-content;
        margin-top: 10px;

        @media(max-width: 1015px) {
            display: none;
        }
    }


}