.usp {
    background-color: #fff;

    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    height: 325px;

    &_text {

        margin-top: -20px;
    }

    &_header {
        color: black;
        font-size: 45px;
        text-transform: uppercase;
        font-weight: 700;
    }

    &_small {
        width: 70%;
        color: black;
        font-size: 12px;
        margin-top: 15px;
        font-weight: 1000;
    }

    .free_img {
        top: -60px;
        right: 25px;
    }
}